@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d5e1ef;
}

.heading-main {
  margin-top: 24px;
  color: #1f314f;
  width: 288px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.paragraph-description {
  margin-top: 16px;
  color: #7d889e;
  width: 256px;
  text-align: center;
}

.qr-box {
  display: flex;
  margin: 16px;
  align-items: center;
  justify-content: center;
  background: #2c7dfa;
  border-radius: 12px;
  width: 288px;
  height: 288px;
}

.box {
  display: inline-block;
  height: 497px;
  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
  width: 100%;
}

.main-box {
  max-width: 320px;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
